.WeatherApp {
  &__weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background: rgba(255,255,255,.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  &__main{
    grid-column: 1 / 2;
  }
  &__details{
    text-align: left;
  }
}
